:root {
  --contrast: 3;
  --background: hsla(0, 0%, 0%, 1);
  --text: hsla(0, 100%, 100%, 0.87);
  --level-0: hsla(0, 0%, 50%, 0.01);
  --level-1: hsla(0, 0%, 50%, calc(1 * var(--contrast) / 100));
  --level-2: hsla(0, 0%, 50%, calc(2 * var(--contrast) / 100));
  --level-3: hsla(0, 0%, 50%, calc(3 * var(--contrast) / 100));
  --level-4: hsla(0, 0%, 50%, calc(4 * var(--contrast) / 100));
  --level-5: hsla(0, 0%, 50%, calc(5 * var(--contrast) / 100));
  --level-6: hsla(0, 0%, 50%, calc(6 * var(--contrast) / 100));
  --level-7: hsla(0, 0%, 50%, calc(7 * var(--contrast) / 100));
  --level-8: hsla(0, 0%, 50%, calc(8 * var(--contrast) / 100));
  --level-9: hsla(0, 0%, 50%, calc(9 * var(--contrast) / 100));
  --level-10: hsla(0, 0%, 50%, calc(10 * var(--contrast) / 100));
  --foreground: white;
  --accent: #6563a3;
  --l3: 12px;
  --l2: 10px;
  --l1: 8px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: white;
    --text: hsla(0, 0%, 0%, 0.87);
    --foreground: black;
  }
  a:hover {
    color: #747bff;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: black;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  font-size: 14px;
  color: var(--text);
  background-color: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

html {
  height: 100%;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color, color, 0.25s;
  border: none;
  color: #4b4b4b;
  line-height: 1;
  padding: 0;
}
button:hover {
  color: black;
  background-color: var(--level-5);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--accent);
}

button {
  min-height: 32px;
  min-width: 32px;
  border-radius: var(--l2);
}

button[data-size="sm"] {
  min-height: 24px;
  min-width: 24px;
  font-size: 0.85em;
  border-radius: var(--l1);
}

button svg {
  flex-shrink: 0;
  width: 1.3em;
  height: 1.3em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  margin-left: 1em;
  padding: 0;
}

code {
  white-space: pre;
  font-size: 0.8em;
  color: var(--accent);
}

@keyframes flashing {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
